In [53]:
import pandas as pd
import numpy as np
from math import sqrt
from sklearn.model_selection import LeaveOneOut
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

In [54]:
csv_path = r"C:\Users\thaba\Desktop\exeIA\reg01.csv"
dataframe = pd.read_csv(csv_path)
count_row = dataframe.shape[0]
print(count_row)
dataframe.head()

1000

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,target
0,-0.640731,0.677929,-0.285153,0.469127,1.629361,-0.407575,0.677929,0.781634,-0.132065,-0.125852,238.342700
1,-1.257229,0.199883,0.369755,0.905828,2.199284,0.407064,0.199883,-0.276165,0.136314,-0.835977,30.823609
2,-1.351330,-0.159821,-0.667650,-0.067187,1.309160,-0.702359,-0.159821,-0.133427,-0.683428,-1.016574,-135.707090
3,-2.432787,-0.996849,-0.704290,-0.750186,1.066865,-0.082292,-0.996849,-1.860141,-1.151661,-1.850721,-579.983211
4,-1.475213,-0.318454,-0.682221,-0.151922,1.148624,-0.583869,-0.318454,-0.621999,-0.619677,-1.134553,-250.729762

In [62]:
loo = LeaveOneOut()
loo.get_n_splits(dataframe)
errors = []
errors2 = []
for train_index, test_index in loo.split(dataframe):
    #print("TRAIN:", train_index, "TEST:", test_index)
    x_train, x_test = dataframe[["x"+str(x) for x in range(10)]].iloc[train_index], dataframe[["x"+str(x) for x in range(10)]].iloc[test_index]
    y_train, y_test = dataframe[['target']].iloc[train_index], dataframe[['target']].iloc[test_index]
    lasso = Lasso(alpha=1)
    lasso.fit(x_train,y_train)
    y_pred = lasso.predict(x_test)
    errors.append(sqrt(mean_squared_error(y_test, y_pred)))
    y_pred2 = lasso.predict(x_train)
    errors2.append(sqrt(mean_squared_error(y_train, y_pred2)))
    
#x_train.tail()

In [63]:
print(sum(errors)/len(errors))
print(sum(errors2)/len(errors2))

15.465218791702426
19.220259837710355